#landing-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--enlarged-font);
  /* outline: 1px solid rgb(209, 25, 25); */
}

canvas {
  width: calc(100% - 2rem);
  height: auto;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  margin-bottom: 1%;
  outline: 1px solid rgb(163, 163, 163);
}
