#form-forgot-password {
  width: 80%;
  height: 20%;
  max-width: 300px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* outline: 1px solid rgb(173, 212, 224); */
}
