@import "./components/import-Bar/ImportBar.css";
@import "./components/products/Products.css";
@import "./components/pages/home/Home.css";
@import "./components/Auth/Login.css";
@import "./components/Auth/AuthNav.css";
@import "./components/Auth/ResetPassword.css";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;1,300&display=swap");

:root {
  --deep-purple: #695ea0;
  --purple: #9085c1;
  --light-purple: #beb6dd;
  --deep-green: #25440b;
  --dark-green: #427847;
  --green: #399540;
  --light-green: #5eb566;
  --deep-red: #ff343d;
  --red: #fe575f;
  --light-red: #ff8c99;
  --dark-brown: #2e1815;
  --bright-brown: #540904;
  --brown: #5f2511;
  --grey: #546e7a;
  --graphite: #37474f;
  --contrast-grey: #263238;
  /* --grey background */
  --grey-background: #bbcacf;
  --light-grey-background: #dedfde;
  --lightlight-grey-background: #f4f4f4;

  /* fonts */
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-88: 5.5rem;
  --current-font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  /* --line-height: 5rem; */
  --line-height: clamp(1.25rem, 1.56rem, 2rem);

  /* misc */
  --container: 2000px;
  --corner-radius-12: 12%;
  --corner-radius-7: 7px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  background: linear-gradient(
    var(--light-purple) 0%,
    var(--purple) 50%,
    var(--deep-purple) 100%
  );
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: var(--current-font-size);
  line-height: clamp(1.25rem, 1.56rem, 2rem);
  /* font-family: "Pacifico", cursive; */
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  color: var(--graphite);
}

.wrapper {
  width: calc(100vw - 2rem);
  max-width: var(--container);
  height: 100vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-background);
  outline: #c3117e 4px solid;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

/* STANDARD ELEMENTS */
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: var(--line-height) calc(var(--line-height) * 1.5);
  cursor: pointer;
}
a:hover {
  color: var(--green);
}
a:active {
  color: var(--purple);
}

button {
  margin: 0;
  font: inherit;
  border: none;
  border-radius: var(--corner-radius-12);
  width: fit-content;
  padding: 0px calc(var(--current-font-size) * 1.25);
  cursor: pointer;
  /* background-color: #399540; */
}
button:hover {
  color: red;
  transition: color 850ms ease-in-out;
}
