#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  /* outline: 2px solid rgb(33, 195, 198); */
}

#logo-group {
  width: 100%;
  height: 15vh;
  min-height: 30px;
  max-height: 200px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    180deg,
    white 0%,
    var(--lightlight-grey-background) 50%,
    var(--light-grey-background) 100%
  );
  outline: 2px solid rgb(39, 210, 81);
}
#logo-group a {
  padding: 1% 0;
}

.logo {
  position: relative;
  width: 200px; /* Adjust the width of your logo container */
  height: 200px; /* Adjust the height of your logo container */
}
.logo img {
  height: 100%;
  opacity: 0.4;
  /* margin-right: 5%; */
  /* margin-left: 1%; */
}
.leaf {
  position: absolute;
  margin-top: 50%;
  width: 30px; /* Adjust the width of your leaf */
  height: 30px; /* Adjust the height of your leaf */
  background-color: #4caf50; /* Adjust the color of your leaf */
  border-radius: 50%;
  transform-origin: bottom center;
  animation: sway 2s infinite alternate ease-in-out;
}

.leaf:nth-child(2) {
  left: 50px; /* Adjust the position of the second leaf */
}

.leaf:nth-child(3) {
  right: 50px; /* Adjust the position of the third leaf */
}

@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(
      20deg
    ); /* Adjust the angle of rotation based on the wind effect you want */
  }
}
