#main-container {
  width: 100%;
  height: auto;

  outline: 2px solid rgb(223, 149, 0);
}
#import-options-group {
  display: flex;
  align-items: center;
  height: calc(var(--line-height) * 2);

  background-color: aquamarine;
}

#products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid grey;
}

/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
}
#col-checkbox {
  width: 4%;
}
#col-image,
#col-name {
  width: 28%;
}
#col-in-stock,
#col-kg,
#col-price,
#col-buttons {
  width: 10%;
}

td,
th {
  height: 2rem;
  border: 1px solid lightblue;
  text-align: center;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  max-width: 0;
}

td img {
  max-width: 100%;
  height: auto;
  display: block;
}

#action-button {
  width: 1 rem;
  height: 2 rem;
  border-radius: 5px;
  background-color: cornflowerblue;
}

#action-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
}

#add-product-form {
  width: 100%;
  outline: 4px solid lightsalmon;
}
#filters {
  outline: 2px solid green;
}

/* MODAL WINDOWS */
.modalWindow {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; /* prevent scrolling away*/

  width: 40%;
  height: 40%;
  max-height: 600px;
  background-color: rgba(25, 171, 224, 0.5);
  z-index: 2;
}
.closeX {
  width: 30px;
  height: 30px;
  background-color: blanchedalmond;
  align-self: flex-end;
  text-align: center;
}
